/*-----------------------------------------------*/
/*					Dimensions           		 */
/*-----------------------------------------------*/
$max-width: 1300px;
$gutter : 40px;


/*-----------------------------------------------*/
/*					Grid Definition     		 */
/*-----------------------------------------------*/

$desktop            : 1300px;
$tablet             : 1024px;
$tablet-portrait    : 768px;
$mobile             : 480px;

